<%= provide(:title, 'Sign up') %>
<div class = "text-center center" id = "appearance" style="margin-left: 0%">
  <br><br><br><br>
    <%= image_tag('ecommerce.png', :size => '200x100') %>
</div>
<div class = "row">
  <div class = "col-md-6 col-md-offset-3 row">
    <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <h2>Errors:</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end  %>
        <h1 class = "text-center" id = "heading">Sign up</h1>
            <div class="col-xs-5 col-xs-offset-4" style="right-width: 70px">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, :placeholder => "First Name",class: 'form-control' %>
            </div>

            <div class="col-xs-5 col-xs-offset-4">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, :placeholder => "Last Name",class: 'form-control' %>
            </div>

            <div class="col-xs-5 col-xs-offset-4">
              <%= f.label :email %>
              <%= f.text_field :email, :placeholder => "email",class: 'form-control' %>
            </div>

            <div class="col-xs-5 col-xs-offset-4">
              <%= f.label :password %>
              <%= f.password_field :password, :placeholder => "password",class: 'form-control' %>
            </div>

            <div class="col-xs-5 col-xs-offset-4">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, :placeholder => "password confirmation", class: 'form-control' %>
            </div>

            <div class="col-xs-5 col-xs-offset-4 text-center">
              <br>
             <%= f.submit "Submit", class: "btn btn-primary"%>
            </div>
        <% end %>





  </div>
</div>